* {
	font-family: Arial;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

section {
	display: flex;
	flex-direction: column;
	width: 40%;
	padding: 30px;
}

h1 {
	font-size: 38px;
	margin-bottom: 10px;
}

h4 {
	font-size: 25px;
}

input {
	padding: 10px;
	border: 1px solid #0a0a0a;
	margin: 20px 0;
}

button {
	width: 60px;
	height: 60px;
}
